
Class013024/Class013024/.Rproj.user/2DBF4FFD/saved_source_markers
Class013024/Class013024/.Rproj.user/2DBF4FFD/pcs/files-pane.pper
Class013024/Class013024/.Rproj.user/2DBF4FFD/pcs/source-pane.pper
Class013024/Class013024/.Rproj.user/2DBF4FFD/pcs/windowlayoutstate.pper
Class013024/Class013024/.Rproj.user/2DBF4FFD/pcs/workbench-pane.pper
Class013024/Class013024/.Rproj.user/2DBF4FFD/rmd-outputs
Class013024/Class013024/.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/2DBF4FFD/pcs/files-pane.pper
.Rproj.user/2DBF4FFD/pcs/source-pane.pper
.Rproj.user/2DBF4FFD/pcs/workbench-pane.pper
.Rproj.user/2DBF4FFD/pcs/windowlayoutstate.pper
.Rproj.user/2DBF4FFD/rmd-outputs
.Rproj.user/2DBF4FFD/saved_source_markers
Class013024/Class013024.Rproj
Class013024/.Rproj.user/2DBF4FFD/sources/session-2abfa623/lock_file
Class013024/.Rproj.user/2DBF4FFD/pcs/workbench-pane.pper
Class013024/.Rproj.user/2DBF4FFD/pcs/windowlayoutstate.pper
Class013024/.Rproj.user/2DBF4FFD/pcs/source-pane.pper
Class013024/.Rproj.user/2DBF4FFD/pcs/files-pane.pper
Class013024/.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/2DBF4FFD/.Rhistory
.Rhistory
Class013024/.DS_Store
.DS_Store
Class020124/Homework 5/.Rproj.user/2DBF4FFD/sources/prop/3423278F
Class020124/Homework 5/.Rproj.user/shared/notebooks/paths
Class020124/Homework 5/.Rproj.user/shared/notebooks/patch-chunk-names
Class020124/Homework 5/.Rproj.user/2DBF4FFD/sources/session-95b2fba7/lock_file
Class020124/Homework 5/.Rproj.user/2DBF4FFD/sources/session-95b2fba7/D5C92054-contents
Class020124/Homework 5/.Rproj.user/2DBF4FFD/sources/session-95b2fba7/7FED3237-contents
Class020124/Homework 5/.Rproj.user/2DBF4FFD/sources/session-95b2fba7/3338D9C0-contents
Class020124/Homework 5/.Rproj.user/2DBF4FFD/sources/session-95b2fba7/3338D9C0
Class020124/Homework 5/.Rproj.user/2DBF4FFD/sources/prop/INDEX
Class020124/Homework 5/.Rproj.user/2DBF4FFD/sources/session-95b2fba7/0D3E295B-contents
Class013024/.Rproj.user/2DBF4FFD/rmd-outputs
Class013024/.Rproj.user/2DBF4FFD/saved_source_markers
Class013024/.Rproj.user/2DBF4FFD/sources/per/u/3E8FFDC2
Class013024/.Rproj.user/2DBF4FFD/sources/per/u/3E8FFDC2-contents
Class020124/Homework 5/.Rproj.user/2DBF4FFD/pcs/files-pane.pper
Class020124/Homework 5/.Rproj.user/2DBF4FFD/pcs/source-pane.pper
Class020124/Homework 5/.Rproj.user/2DBF4FFD/pcs/windowlayoutstate.pper
Class020124/Homework 5/.Rproj.user/2DBF4FFD/pcs/workbench-pane.pper
Class020124/Homework 5/.Rproj.user/2DBF4FFD/sources/prop/468030C4
Class020124/Homework 5/.Rproj.user/2DBF4FFD/sources/prop/BE8235E1
Class020124/Homework_5/.Rproj.user/2DBF4FFD/pcs/source-pane.pper
Class020124/Homework_5/.Rproj.user/2DBF4FFD/pcs/files-pane.pper
Class020124/Homework_5/.Rproj.user/2DBF4FFD/pcs/windowlayoutstate.pper
Class020124/Homework_5/.Rproj.user/2DBF4FFD/pcs/workbench-pane.pper
Class020124/Homework_5/.Rproj.user/2DBF4FFD/rmd-outputs
Class020124/Homework_5/.Rproj.user/2DBF4FFD/saved_source_markers
Class020124/Homework_5/.Rproj.user/2DBF4FFD/sources/prop/32384A3B
Class020124/Homework_5/.Rproj.user/2DBF4FFD/sources/per/t/3338D9C0
Class020124/Homework_5/.Rproj.user/2DBF4FFD/sources/per/t/3338D9C0-contents
Class020124/Homework_5/.Rproj.user/2DBF4FFD/sources/prop/3423278F
Class020124/Homework_5/.Rproj.user/2DBF4FFD/sources/prop/35390974
Class020124/Homework_5/.Rproj.user/2DBF4FFD/sources/prop/468030C4
Class020124/Homework_5/.Rproj.user/2DBF4FFD/sources/prop/BE8235E1
Class020124/Homework_5/.Rproj.user/2DBF4FFD/sources/prop/INDEX
Class020124/Homework_5/.Rproj.user/2DBF4FFD/sources/prop/7B2AF6FE
Class020124/Homework_5/.Rproj.user/shared/notebooks/patch-chunk-names
Class020124/Homework_5/.Rproj.user/shared/notebooks/paths
Class020124/Homework_5/Data/DogHabituation_II.csv
Class020824/Homework6/.Rproj.user/2DBF4FFD/pcs/files-pane.pper
.Rproj.user
